$primary-orange: rgba(252, 176, 69, 1);
$primary-red: #EC1B23;
$green: rgb(8, 241, 8);

.cart {
    min-height: 90vh;
    width: 100%;
    padding: 50px;
    margin: 0 auto;

    .buyTotal {
        width: 100%;
        margin-top: 20px;
        display: flex;
        justify-content: space-evenly;

        h2 {
            color: $primary-red;
            font-size: 32px;
        }

        button {
            height: 50px;
            width: 50px;
            border: none;
            border-radius: 10px;
            background-color: $primary-orange;
        }
    }
}

@media only screen and (max-width: 500px) {
    .cart {
        padding: 0;
    }   
}