nav {
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 21px;

  a {
    color: black;
    position: relative;

    input {
      position: absolute;
      top: -5px;
      left: -12px;
      text-align: center;
      height: 17px;
      width: 17px;
      padding: 1px;
      background-color: black;
      color: white;
      border-radius: 10px;
      border: none;
      font-size: 12px;
    }
  }

  h1 {
    font-family: "Sacramento", cursive;
    font-size: 31px;
    color: #ee4b2b;
  }
}
