.productsContainer {
  margin: 0 auto;
  padding-top: 50px;
  width: 90%;
  min-height: 100vh;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  row-gap: 40px;
  background-color: #EC1B23;
  background: url("../../assets/680px-Flag-map_of_Sicily.svg.png"), #EC1B23;
  // background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  object-position: 50% 50%;
}
