$primary-red: #ec1b23;

body {
  // background-image: url("../../assets/AdobeStock_227503961-2400x1600.jpeg");
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: cover;
  background-color: #fffcf7;

  .mobileHeader {
    display: none;
  }

  a {
    text-decoration: none;
  }
}
