.pageHeader {
  text-align: center;
  font-family: "Sacramento", cursive;
  font-size: 32px;
  color: #ee4b2b;
  background-color: #faf3ec;
  height: 5vh;
}

@media only screen and (min-width: 1200px) {
  .dashBoard {
    width: 85%;
    min-width: 1200px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 762px) {
  .pageHeader {
    font-size: 42px;
  }
}
