* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, "Helvetica Neue", Arial, "Lucida Grande", sans-serif;
}

body {
  p {
    color: #746b60;
  }
}

@media only screen and (min-width: 600px) {
  body {
    min-width: 1000px;
  }
}
