* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Langar', cursive;;
}

body {
  background-color: rgba(252, 176, 69, 1);
}

@media only screen and (min-width: 600px) {
  body {
    min-width: 900px;
  }
}
