.cartProduct {
    height: 120px;
    width: 50%;
    border: 3px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;

    article {
        height: 100%;
        display: flex;
        align-items: center;
        column-gap: 20px;

        img {
            height: 100%;
            width: 150px;
        }
    }
}